@if (isLoading$ | async) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutAlign="space-around center" class="container">
    <h1>Sign In</h1>
    <button type="button" mat-button color="primary" [routerLink]="['/register']" (keydown.enter)="$event.preventDefault()">
      Need an account?
    </button>
    <app-error-message [value]="error$"></app-error-message>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="isLoading$ | async">
      Sign in
    </button>
  </div>
</form>
