@if (isLoading$ | async) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else {
  <div fxLayout="column" fxLayoutAlign="space-around" fxLayoutGap="20px" class="container">
    <div fxLayout="row" fxLayoutAlign="center">
      <app-error-message [value]="error$"></app-error-message>
    </div>
    <div fxLayout="row" fxLayoutAlign="start">
      <button mat-raised-button color="primary" (click)="onFileUploadClick($event)">
        <mat-icon fontIcon="add"></mat-icon>
        Upload
      </button>
      <input #fileUpload type="file" class="input_fileupload--hidden"
             (input)="onInput($event)"
             (change)="onFileSelected($event)">
<!--      <a href="/api/authorize"><button mat-flat-button color="primary">Google SSO</button></a>-->
    </div>
    <section class="files-container mat-elevation-z8" tabindex="0">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="path">
          <th mat-header-cell *matHeaderCellDef> path </th>
          <td mat-cell *matCellDef="let element"> {{element.path}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> status </th>
          <td mat-cell *matCellDef="let element"> In Progress </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="removeFile($event, element)">
              <mat-icon fontIcon="close"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="filesCount$ | async"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     (page)="handlePageEvent($event)"
                     aria-label="Select page">
      </mat-paginator>
    </section>
  </div>
}
