@import "_variables";

.files-container {
  width: 50%;
  margin: 20px;
  max-width: 50%;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-column-path {
  width: 32px;
}

.mat-column-status {
  width:10px;
}

//.mat-column-files-weight {
//  font-style: italic;
//}
//
//.mat-column-symbol {
//  width: 32px;
//  text-align: center;
//  font-weight: bold;
//}
