@import "_variables";

.input_fileupload--hidden{
  display:none;
}

.files-container {
  width: 95%;
  max-width: 95%;
  overflow: auto;
}

table {
  width: 100%;
}

//.mat-column-path {
//  width: 32px;
//}

.mat-column-status {
  width:150px;
}

.mat-column-action{
  text-align: center;
  width:10px;
}
