@use '@angular/material' as mat;

$my-primary: mat.define-palette(mat.$deep-purple-palette, 500);
$my-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$primary: mat.get-color-from-palette($my-primary, default);
$accent-contrast: mat.get-color-from-palette($my-accent, 'default-contrast');
$primary: mat.get-color-from-palette($my-primary, default);
$accent-contrast: mat.get-color-from-palette($my-accent, 'default-contrast');
$warn: mat.get-color-from-palette($my-warn, default);
$warn-contrast: mat.get-color-from-palette($my-warn, 'default-contrast');

$bg-light-color: whitesmoke;
